# Environment variables for the frontend application
# Always make sure to check if your .env file for client matches the .env.example file for client

# Default Salt for hashing
VITE_HASHIDS_SALT="salt"

# Backend URL
VITE_API_URL="http://localhost:3000/api/v1"
