# NOTE 1: These are the environment variables for the backend application
# NOTE 2: You should have your own .env file which is a copy of the .env.example file
# NOTE 3: Always make sure to check if your .env file for server matches the .env.example file for server

# General configurations
PORT=3000
NODE_ENV=development
FRONTEND_URL=http://localhost:5173
DATABASE_URL="postgresql://johndoe:randompassword@localhost:5432/mydb?schema=public"
TEST_DATABASE_URL="postgresql://johndoe:randompassword@localhost:5432/test_mydb?schema=public"

# Hash Salt
HASH_SALT = 10

# TODO: Future Auth Variables
# Refresh tokens (http-only cookie, server)
JWT_REFRESH_SECRET="refresh"
JWT_REFRESH_EXPIRES_IN="7d"

# Access tokens (in-memory, client)
JWT_ACCESS_SECRET="access"
JWT_ACCESS_EXPIRES_IN="15m"

# ====== Only needed when using a Docker setup ======
# Docker Postgres Environment Variables
POSTGRES_USER=johndoe
POSTGRES_PASSWORD=randompassword
POSTGRES_DB=mydb


