# Environment variables for the backend application
# Always make sure to check if your .env file for client matches the .env.example file for server
#
# NOTE 1: These are the environment variables for the backend application
# NOTE 2: You should have your own .env file which is a copy of the .env.example file
# NOTE 3: Always make sure to check if your .env file for client matches the .env.example file for client

# General configurations
PORT=3000
NODE_ENV=development
FRONTEND_URL=http://localhost:5173
DATABASE_URL="postgresql://johndoe:randompassword@localhost:5432/mydb?schema=public"
TEST_DATABASE_URL="postgresql://johndoe:randompassword@localhost:5432/test_mydb?schema=public"

# Hash Salt
HASH_SALT = 10

